<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #previewImage {
        width: 400px;
      }
      #sendButton {
        background-color: yellow;
        border: none;
      }
    </style>
  </head>
  <body onload="init()">
    <!-- 티처블머신 모델 html 파일 들어오면 바로 로드 -->
    <!-- 모델 로딩 시간 고려해서, 새로고침 후 바로 업로드 추천받기하면 오류 발생함 -->
    <div>Teachable Machine Image Model</div>
    <div class="art_upload">
      <input type="file" id="uploadImage" accept="image/*" />
      <button type="button" id="sendButton" onclick="predict()">
        추천받기
      </button>
      <img src="" id="previewImage" />
    </div>
    <!--<button type="button" onclick="init()">시작</button>-->
    <div id="label-container"></div>
    <p id="result"></p>

    <!-- JQery for AJAX-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
    <script type="text/javascript">
      const URL = "https://teachablemachine.withgoogle.com/models/fV8IxNv7p/";

      const uploadFile = document.querySelector("#uploadImage");
      const uploadPreview = document.querySelector("#previewImage");

      uploadFile.addEventListener("change", () => {
        const imageSrc = webkitURL.createObjectURL(uploadFile.files[0]);
        uploadPreview.src = imageSrc;
      });

      let model, labelContainer, maxPredictions;

      // Load the image model and setup the webcam
      async function init() {
        const modelURL = URL + "model.json";
        const metadataURL = URL + "metadata.json";

        model = await tmImage.load(modelURL, metadataURL);
        maxPredictions = model.getTotalClasses();

        // append elements to the DOM
        labelContainer = document.getElementById("label-container");
        for (let i = 0; i < maxPredictions; i++) {
          // and class labels
          labelContainer.appendChild(document.createElement("div"));
        }
      }
      // run the webcam image through the image model
      async function predict() {
        var image = document.getElementById("previewImage");
        // predict can take in an image, video or canvas html element
        const prediction = await model.predict(image, false);

        let maxProb = 0;
        let genreLabel = "";
        for (let i = 0; i < maxPredictions; i++) {
          const classPrediction =
            prediction[i].className +
            ": " +
            prediction[i].probability.toFixed(2);
          if (prediction[i].probability > maxProb) {
            maxProb = prediction[i].probability;
            genreLabel = prediction[i].className;
          }
        }
        var genreData = genreLabel;
        var genreValue = { genreData: genreData };

        // recommend.html로 그림 장르 데이터 보내기
        $.ajax({
          type: "POST",
          url: "/recommend",
          data: JSON.stringify(genreValue),
          contentType: "application/json",
          success: function (result) {
            console.log("Success");
            window.location.href = "/recommend";
          },
          error: function (xhr, status, error) {
            console.log(xhr + ":" + status + ":" + error);
          },
        });
        /*
        $.ajax({
          type: "POST",
          url: "/recommend",
          data: JSON.stringify(genreValue),
          contentType: "application/json",
          success: function (result) {
            console.log("성공");
            console.log(genreValue);
            window.location.href =
              "/recommend?genreData=" + encodeURIComponent(genreData);
          },
          error: function (xtr, status, error) {
            alert(xtr + ":" + status + ":" + error);
          },
        });*/
      }
    </script>
  </body>
</html>
